
.contenedor{
    display: grid;
    grid-template-rows:400px auto;
    
    
}
.contenedor-titulo{
    display: grid;
    text-align: center;
    align-content: center;
    grid-gap: 40px;
}
.contenedor-habilidades{
    display: grid;
    grid-template-rows:repeat(200px);
    grid-gap:90px;
}
.footer{
    display:grid;
    grid-template-columns: minmax(70px,140px) minmax(200px,auto) minmax(70px,140px);
    justify-items: center;
    align-items: center;
}
@media  only screen and (min-width: 720px){
    .contenedor-habilidades{
        grid-template-columns: 1fr 1fr ;
    }
    .section{
        grid-template-columns:auto auto;
    }
    .section > a{
        width:380px;
    }
}
@media  only screen and (min-width: 1028px){
    .contenedor-habilidades{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        margin-bottom: 20px;
    }
    .icons-header{
        display: inline-block;
        margin: 0 10px;
    }
    .contenedor-titulo{
        margin-top:30px;
        grid-gap: 50px;
    }
    .contenedor{
        grid-template-rows:300px auto;
    }
    .numero{
        display: inline-block;
        margin-right: 20px;
    }
    .icons-header-telf{
        display: block;
    }
    .section{
        grid-template-columns:auto auto auto;
    }
}

